/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Import Fuse core library
@import "../projects/mobileia/layout-fuse/src/lib/scss/core.scss"; // Modo interno
//@import "~@mobileia/layout-fuse/scss/core"; // Modo productivo
// Import app.theme.scss
@import "../projects/mobileia/layout-fuse/src/lib/scss/app.theme.scss"; // Modo interno
//@import "~@mobileia/layout-fuse/scss/app.theme"; // Modo productivo